*, ::before, ::after {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: 800;
}

h2 {
    font-size: 18px;
    font-weight: 600;
}

nav {
    border: 1px solid #1800A8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #1800A8;
    background-color: white;
    font-weight: 800;
    position: fixed;
    top: 0;
}

nav li {
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 40px;
    font-size: 14px;
    border-left: 1px solid #1800A8;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li:hover {
    color: white;
    background-color: #1800A8;
}

#part1 {
    border: 1px solid red;
    color: #1800A8;
    margin: 150px 200px;
}

#part1 img {
    width: 590px;
    height: 400px;
    border-radius: 12px;
}


#part1 .container {
    display: flex;
}

#part1 .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

#a-propos {
    border: 1px solid red;
    color: #1800A8;
    margin: 150px 200px;
}

#competences {
    border: 1px solid red;
    color: #1800A8;
    margin: 150px 200px;
}

#projets {
    border: 1px solid red;
    color: #1800A8;
    margin: 150px 200px;
}